<div class="container-fluid">
  <div class="row row-eq-height">
    <div class="col-md-12 center">
      <fieldset>
        <legend><h2 class="title"><strong>Photo Gallery</strong></h2></legend>
         <embed type="application/x-shockwave-flash" src="https://photos.gstatic.com/media/slideshow.swf" width="800" height="533" flashvars="host=picasaweb.google.com&hl=en_US&feat=flashalbum&RGB=0x000000&feed=https%3A%2F%2Fpicasaweb.google.com%2Fdata%2Ffeed%2Fapi%2Fuser%2F116384077782423132491%2Falbumid%2F6198920295533219969%3Falt%3Drss%26kind%3Dphoto%26hl%3Den_US" pluginspage="http://www.macromedia.com/go/getflashplayer"></embed>
      </fieldset>
    </div>    
  </div>
</div>
