<div class="container-fluid">
  <div class="row row-eq-height">
    <div class="col-md-4 left center">
      <fieldset>
        <legend><h1><strong class="title">Sign Up Ahead Of Time</strong></h1></legend>
      </fieldset>
    </div> 
    <div class="col-md-8 right center">
      <fieldset>
        <legend><h1><strong class="title">The Geek Jam Lunch</strong></h1></legend>
        <img src="../images/geekjam.jpg" style="width:1100px;height:700px;">
        <br>
        <br>
        <img src="../images/geekjamfront.jpg" style="width:1100px;height:700px;">
      </fieldset>
    </div>    
  </div>
</div>
