<section>
  <div class="center">
    <br>
    <br>
    <legend class="title"><h2><strong>What is Music City Code?</strong></h2></legend>
    <br>
    <h2>Music City Code is a technical conference focused on connecting technologists with the industry's top thought leaders.
    <br> It will be held on Aug 29, 2015 in Nashville.</h2>
  </div>
<section>
<br>
<br>
<br>
<section>
  <form action="#" method="POST" class="center">
      <fieldset>
        <legend class="title"><h2><strong>Subscribe For Updates</strong></h2></legend>
      <input class="shortwidth" type="text" name="name" id="name" placeholder="Name">
      <br>
      <br>
      <input class="shortwidth" type="email" name="email" id="email" placeholder="Email">
    </fieldset>
    <br>
    <button>Submit</button>
  </form>
    
</section>  

