<div class="container-fluid">
  <div class="row row-eq-height">
    <div class="col-md-12 rt center">
      <fieldset>
        <legend><h2 class="title"><strong>Mission Statement</strong></h2></legend>
        <h2>
         "The continuing mission of the annual Music City Code conference and its year-round initiatives is to inspire progress in the technology community through education, professional development and thought leadership opportunities."
       </h2>

      </fieldset>
    </div>    
  </div>
</div>
