<div class="container-fluid">
  <div class="row row-eq-height"> 

    <div class="col-md-12 rt">
      <fieldset>
         <legend class=" title center"><h1><strong >2015 Schedule</strong></h1></legend>
           <style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg .tg-bn4o{font-weight:bold;font-size:18px;text-align:center;vertical-align:top}
.tg .tg-1d7g{font-weight:bold;font-size:16px;vertical-align:top}
.tg .tg-qv16{font-weight:bold;font-size:16px;text-align:center;vertical-align:top}
.tg .tg-yw4l{vertical-align:top}
.tg .tg-qzks{font-size:18px;font-family:"Lucida Console", Monaco, monospace !important;;text-align:center;vertical-align:top}
@media screen and (max-width: 767px) {.tg {width: auto !important;}.tg col {width: auto !important;}.tg-wrap {overflow-x: auto;-webkit-overflow-scrolling: touch;}}</style>
<div class="tg-wrap"><table class="tg" style="undefined;table-layout: fixed; width: 1542px">
<colgroup>
<col style="width: 66px">
<col style="width: 369px">
<col style="width: 369px">
<col style="width: 369px">
<col style="width: 369px">
</colgroup>
  <tr>
    <th class="tg-bn4o" colspan="5">8:00 - 8:30<br>Registration Opens</th>
  </tr>
  <tr>
    <td class="tg-bn4o" colspan="5">8:30 - 9:00<br>Opening Remarks</td>
  </tr>
  <tr>
    <td class="tg-yw4l"></td>
    <td class="tg-qv16">Auditorium</td>
    <td class="tg-qv16">Swang 102</td>
    <td class="tg-qv16">Swang 110</td>
    <td class="tg-qv16">Swang 112</td>
  </tr>
  <tr>
    <td class="tg-1d7g">9:00-<br>9:50</td>
    <td class="tg-qzks">Open Spaces Opening Circle<br>Alan Stevens</td>
    <td class="tg-qzks">Node.js Crash Course<br>David Neal</td>
    <td class="tg-qzks">Practical Adventures in Software Craftsmanship<br>Tommy Norman</td>
    <td class="tg-qzks">Game Development with Unity<br>Michael C. Neel<br></td>
  </tr>
  <tr>
    <td class="tg-1d7g">10:00-10:50</td>
    <td class="tg-qzks">Panel: Level Up Your Career</td>
    <td class="tg-qzks">CSS for Developers<br>Elijah Manor</td>
    <td class="tg-qzks">Making Mobile Click...<br>Chris Riesgo</td>
    <td class="tg-qzks">Microservices, Silver Bullet or Hot Air<br>Gregory Beamer</td>
  </tr>
  <tr>
    <td class="tg-bn4o" colspan="5">11:00-13:00<br>Shamblin Theatre<br>Geek Jam Lunch</td>
  </tr>
  <tr>
    <td class="tg-1d7g">13:00-13:50</td>
    <td class="tg-qzks">Panel: Functional Programming</td>
    <td class="tg-qzks">Overcoming Imposter Syndrome<br>Dan Linn</td>
    <td class="tg-qzks">Monetize Yourself<br> Ondrej Balas</td>
    <td class="tg-qzks">Managing Developers<br>Jonathan Mills</td>
  </tr>
  <tr>
    <td class="tg-1d7g">14:00-14:50</td>
    <td class="tg-qzks">Panel: Agile Methodologies</td>
    <td class="tg-qzks">Patterns and Practices for Real-World Event-Driven Microservices<br>Rachel Reese</td>
    <td class="tg-qzks">Will The ReAL ReST Please Stand Up?<br>Lee Brandt</td>
    <td class="tg-qzks">Component-Based CSS Architecture<br>Jeremy McDuffie</td>
  </tr>
  <tr>
    <td class="tg-1d7g">15:00-15:50</td>
    <td class="tg-qzks">Panel: The Future of Web</td>
    <td class="tg-qzks">ES7 (JavaScript) and Beyond!<br>Jeremy Fairbank</td>
    <td class="tg-qzks">Eliminate JavaScript Code Smells<br>Elijah Manor</td>
    <td class="tg-qzks">Three Virtues of a Great Programmer: Laziness, Impatience &amp; Hubris<br>Nathan Kelley</td>
  </tr>
  <tr>
    <td class="tg-bn4o" colspan="5">16:00-17:00<br>Closing Keynote &amp; Giveaways</td>
  </tr>
  <tr>
    <td class="tg-bn4o" colspan="5">18:00-20:00<br>After Party<br>Greenhouse Bar</td>
  </tr>
</table></div>

         
          <!-- <div class="sessionstyle center" ng-repeat=" session in Sessions">
            <ul >
              <li><h2>{{session.time}}</h2></li>
              <li><h3>{{session.location}}</h3></li>
              <li><h3><strong>{{session.title}}<strong></h3></li>
              <li><h3>{{session.who}}</h3></li>
              <li><h3>{{session.description}}</h3></li>
              <br>
              <br>
            </ul>
          </div> -->
      </fieldset>    
 
    </div>
  </div>
</div>
