<div class="container-fluid">
  <div class="row row-eq-height">
    <div class="col-md-4 left container center">
      <form action="#" method="POST">
        <fieldset>
        <br>  
        <legend><h1><strong class="title">Submit A Talk!</strong></h1></legend>
        <label for="first_name"><h3><strong>First Name:</strong></h3></label>
        <input type="text" name="first_name" id="first_name">
        <br>
        <label for="last_name"><h3><strong>Last Name:</strong></h3></label>
        <input type="text" name="last_name" id="last_name">
        <br>
        <label for="tw_handle"><h3><strong>Twitter Handle:</strong></h3></label>
        <input type="text" name="tw_handle" id="tw_handle">
        <br>
        <label for="title"><h3><strong>Title:</strong></h3></label>
        <input type="text" name="title" id="title">
        <br>
        <label for="topic_desc"><h3><strong>Description:</strong></h3></label>
        <input type="text" name="topic_desc" id="topic_desc">
        <br>
        <label for="speaker_bio"><h3><strong>Speaker Bio:</strong></h3></label>
        <input type="text" name="speaker_bio" id="speaker_bio">


      </fieldset>
      </form>
      <br>
      <button>Submit</button>
    </div>

    <div class="col-md-8 right">
      <fieldset>
          <legend><h1><strong class = "title">Meet Our 2015 Speakers!</strong></h1></legend>
      </fieldset>    
 
    </div>
  </div>
</div>
